.container {
    @apply flex justify-between flex-col;
    @apply px-8 py-16;
    @apply md:py-28;
    @apply min-h-screen;

    /* 让背景透明，显示 Three.js 背景 */
    background-color: transparent;
    color: var(--text-secondary);
    /* 保持内容的可读性 */
    position: relative;
    z-index: 1;
}