.list {
  @apply flex	mt-4;
}
.listItem {
  @apply mr-8;
}

.title {
  @apply text-xs block leading-tight;
  color: var(--text-lighter);
}

.info {
  @apply font-bold leading-tight block mt-1;
  color: var(--text-primary);
}

.separator {
  @apply block mt-8 h-px;
}